<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/p5.js" charset="utf-8"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script src="/javascripts/client.js" charset="utf-8"></script>
  <script src="/javascripts/render.js" charset="utf-8"></script>

</head>
<body>
  <div class="render"></div>
  <div cid="modalmenu">
    <div class="statement">

    </div>

  </div>
</body>
</html>
