@import 'sanitize';

html,body{
  background-color: #fff;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
color:#fff;
overflow-y: scroll;

.wrap{
  width:100%;
  height:100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
align-items: center;

  #render{
    // flex:1;
    position:relative;
    width:401px;
    height:401px;
    margin:auto;
    padding:0 0;

  }
  #charbox{
    // flex:1;
    width:400px;
    margin:0 auto;
    padding:0 0;
    // margin:auto;
    height:400px;


    textarea{
    width:400px;
    height:400px;
    font-size: 230px;
    text-align: center;
    // line-height:0;
    color:#000;
    border-width: 1px;
    border-style:solid;
    border-color: #000;
    resize: none;
    overflow: hidden;
    }
  }
  #menubutton{
    background-color: #fff;
    position:absolute;
    top:0px;
    width:40px;
    height:40px;
    right:0px;
  }
  #modalmenu{
    position: fixed;
    z-index: -999;
    opacity: 0;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:#222;
    transition:0.6s;
    padding:3% 10%;
    line-height:2.2rem;
    overflow-y: scroll;
    letter-spacing: 0.1rem;
    #closebutton{
      opacity:inherit;
      background-color: none;
      width:40px;
      height:40px;
      position:fixed;
      top:0px;
      right:0px;
    }
    .statement{
      width:100%;
      padding:0 3%;
    }
    hr{
      border-top:solid;
      margin:20px auto;
    }
    p{
      margin:5px auto;
    }
  h1 {
    font-size:40pt;
    font-weight:normal;
    letter-spacing: 0.05rem;
    line-height:2rem;
    margin:20px 0;
  }

  }
  }
}
